name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            source $NVM_DIR/nvm.sh
            cd ~/forumapi
            git pull origin main
            /home/c038dsx0743/.nvm/versions/node/v18.17.1/bin/npm install
            /home/c038dsx0743/.nvm/versions/node/v18.17.1/bin/npm run migrate up
            /usr/local/bin/pm2 restart forumapi
